
body {
    font-family: 'Play', sans-serif;
    background: #2b2b2b;
    margin: 0;
    margin-left:10px;
}

h1 {
  color: #DDDDDD;
  margin-bottom: -10px;
}
p {
  padding-left: 5px;
  color: #c0c0c0;
}

#container {
  position: relative;
  background-color: #303030;
}

#text {
  font-size: 24pt;
  text-align: center;
  margin-top: 140px;
}
