
body {
    font-family: 'Play', sans-serif;
    background: #2b2b2b;
    margin: 0;
}

h1 {
  color: #DDDDDD;
}
p {
  color: #c0c0c0;
}

#container {
  width: 800px;
  height: 500px;
  position: relative;
  background-color: #303030;
}

#text {
  font-size: 24pt;
  text-align: center;
  margin-top: 140px;
}
